<tr id='parti'>
  <td><%= task.name %></td>
  <td><%= task.description %></td>
  <td><%= task.completed? %></td>
  <td><%= task.roman %></td>
  <td><%= link_to 'Show', task %></td>
  <td><%= link_to 'Edit', edit_task_path(task) %></td>
  <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>